<div class="login-section">
  <mat-toolbar class="mat-toolbar-single-row toolbar">
    Sign up to Ember

    <button mat-button>
      <mat-icon>login</mat-icon>
      Login
    </button>
  </mat-toolbar>


  <div class="login-content">

    <div class="form-container">
      <form [formGroup]="signUpForm" class="form" (ngSubmit)="submit()">
        <h1>Sign up!</h1>
        <mat-form-field>
          <input matInput formControlName="name">
          <mat-placeholder class="placeholder">Name</mat-placeholder>
          <mat-error *ngIf="name?.errors?.['required']">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email">
          <mat-placeholder class="placeholder">Email adress</mat-placeholder>
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field style="margin-bottom: 24px;">
          <input matInput formControlName="password">
          <mat-placeholder class="placeholder">password</mat-placeholder>
          <mat-error *ngIf="password?.errors?.['required']">
            password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field style="margin-bottom: 24px;">
          <input matInput formControlName="confirmedPassword">
          <mat-placeholder class="placeholder">Confirm password</mat-placeholder>
          <mat-error *ngIf="confirmedPassword?.errors?.['required']">
            Confirm password is required!
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
          Password should match!
        </mat-error>
        <button mat-raised-button color="primary" type="submit">
          Sign Up!
        </button>
        <button style="margin-top: 24px;" mat-raised-button routerLink="landing">
          Login as guest
        </button>
        <span>You already have an account? <a routerLink="sign-up">Login</a></span>
      </form>
    </div>

  </div>

</div>