.login-section {
  height: 100vh;
}

.login-content {
  display: flex;
  justify-content: center;
  padding-top: 128px;
}

.toolbar {
  height: 70px;
  background-color: #c2185b;
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(224, 224, 224);
  border-radius: 50px;

}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: rgb(82, 82, 82);
  font-weight: 600;

  input {

    &:focus {
      border-bottom: unset;
    }

  }

  span {
    margin-top: 24px;
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(128, 0, 0) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(128, 0, 0) !important;
}

label.mat-input-placeholder {
  color: red;
}

.mat-form-field-underline {
  background-color: #2e2e2eb3;
}

.placeholder {
  color: #2e2e2eb3;
}