<p>
  <mat-toolbar color="primary" role="heading">
    <img class="logo" src="assets/img/logo.png">
    <span>Ember</span>
    <span class="spacer"></span>
    <button mat-icon-button class="schedule-icon" aria-label="Schedule">
      <mat-icon>schedule</mat-icon>
    </button>
    <app-search></app-search>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Support">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button aria-label="Your Account">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</p>
