<app-toolbar></app-toolbar>
<!-- <app-user></app-user> -->
<mat-drawer-container class="main-content">
  <mat-drawer disableClose mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer *ngIf="secondaryView" mode="side" position="end" opened>
    <app-secondary-view-content (closeThreadEvent)="closeSecondaryView()" [message]="message">
    </app-secondary-view-content>
  </mat-drawer>
  <mat-drawer-content>
    <app-primary-view-content (openThreadEvent)="openThread($event)"></app-primary-view-content>
  </mat-drawer-content>
</mat-drawer-container>
