.sidebar {
  width: 260px;
  font-weight: bold;
}

.top-node {
  justify-content: space-between;

  .mat-button {
    height: 50px;
  }
}

.mat-button {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.mat-tree-node {
  min-height: 32px;
  justify-content: space-between;
}
