/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Scrollbar Styles

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(251,250,247,0.45);
  border-radius: 16px;
}

// Spacer for Material Toolbar
.spacer {
  flex: 1 1 auto;
}


.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
}
